@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color-10: #699cc9;
  --primary-color-8: rgba(105, 156, 201, 0.8);
  --primary-color-7: rgba(105, 156, 201, 0.7);
  --primary-color-6: rgba(105, 156, 201, 0.6);
  --primary-color-3: rgba(105, 156, 201, 0.3);
  --primary-color-1: rgba(105, 156, 201, 0.1);
  --primary-color-0: rgba(105, 156, 201, 0);
  --black: #0c120c;
  --gray-strong: #6c7486;

  --primary-col: #fdeadf;
  --secondary-color: #c3c7d3;
  --font-size-basae: #6c7486;
  --primarlor: #699cc9;
  --complementario: #c99669;
  --secondary-color: #fffaff;
  --pimary-color: #0c120c;
  --secondary-color: #ffe66d;
  --pmary-color: #ef6351;
  --primry-color: #f27932;
  --primry-color: #f19560;

  --fc-font: "Hind", sans-serif;

  --font-size-title-topic: 20px;
  --font-size-header: 32px;
  --font-size-title: 26px;
  --font-size-base: 18px;
  --font-size-description: 14px;
}

.card {
  border: none;
}

.card-header {
  border: none;
}

.list-group {
  border: none;
}

body {
  font-family: var(--fc-font);
  font-size: var(--font-size-base);
  background-color: #fffaff;
  color: var(--gray-strong);
}

h4.card-header-category-title {
  font-weight: 600;
}

.topic-author-message {
  background-color: aquamarine;
}

.bg-primary-fc {
  background-color: var(--primary-color-10);
}

.bg-primary-none {
  background-color: #eff4f9;
}

.bg-primary-less {
  background-color: var(--primary-color-7);
}

.bg-primary-lower {
  background-color: var(--primary-color-1);
}

.list-group-item-action {
  transition: background-color 0.3s ease-in-out;
}
.list-group-item-action:hover {
  background-color: var(--primary-color-3);
}

h2.card-header-category-title {
  color: var(--black);
  font-size: var(--font-size-header);
}

.legal h1,
.legal h2,
.legal h3 {
  color: var(--black);
}

aside h4 {
  font-size: var(--font-size-title);
  color: var(--gray-strong);
}

.card p {
  color: var(--gray-strong);
}

.card h3 {
  font-size: var(--font-size-title);
}

a {
  text-decoration: none;
  color: var(--primary-color-8);
}

a:hover {
  color: var(--primary-color-10);
}

/* Estilos cartel publicitario e icono de "X"*/
#ad-container {
  top: 2rem;
}

#close-ad-icon {
  cursor: pointer;
}

.borde-rojo{
  border: 2px solid red;
}
