@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

:root {
  --fc-font: "Hind", sans-serif;

  --font-size-title-topic: 20px;
  --font-size-header: 32px;
  --font-size-title: 26px;
  --font-size-base: 18px;
  --font-size-description: 14px;

  --admin-color: #f27932;
  --topic-author-color: rgba(127, 255, 212, 0.3);
  --black: #0c120c;
  --gray: #6c7486;
  --gray-strong: #6c7486;
  --primary-color-10: #699cc9;
  --primary-color-8: rgba(105, 156, 201, 0.8);
  --primary-color-7: rgba(105, 156, 201, 0.7);
  --primary-color-3: rgba(105, 156, 201, 0.3);
  --primary-color-1: rgba(105, 156, 201, 0.1);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color-8);
}

a:hover {
  color: var(--primary-color-10);
}

aside h4 {
  font-size: var(--font-size-title);
  color: var(--gray-strong);
}

body {
  font-family: var(--fc-font);
  font-size: var(--font-size-base);
  background-color: #fffaff;
  color: var(--gray-strong);
}

h2.card-header-category-title {
  color: var(--black);
  font-size: var(--font-size-header);
}

h4.card-header-category-title {
  font-weight: 600;
}

.admin-color {
  color: var(--admin-color);
}

.bg-author {
  background-color: var(--topic-author-color);
}

.card,
.card-header,
.list-group {
  border: none;
}

.card p {
  color: var(--gray-strong);
}

.card h3 {
  font-size: var(--font-size-title);
}

.legal h1,
.legal h2,
.legal h3 {
  color: var(--black);
}

.bg-primary-fc {
  background-color: var(--primary-color-10);
}

.bg-primary-none {
  background-color: #eff4f9;
}

.bg-primary-less {
  background-color: var(--primary-color-7);
}

.bg-primary-lower {
  background-color: var(--primary-color-1);
}

.list-group-item-action {
  transition: background-color 0.3s ease-in-out;
}
.list-group-item-action:hover {
  background-color: var(--primary-color-3);
}

/* Estilos cartel publicitario e icono de "X"*/
#ad-container {
  top: 2rem;
}

#close-ad-icon {
  cursor: pointer;
}

/* Estilo utilizado para pruebas */
.red-border {
  border: 2px solid red;
}
