@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Hind", sans-serif;
    background-color: #FFFFFF;
}

h4.card-header-category-title{
    font-weight: 600;
}

a{
    color: red;
}

a:hover{
    color: green;
}

/* Para debug */
.borde-rojo {
/*     border: 2px solid violet; */
}
.borde-verde {
    border: 2px solid green;
}
.borde-azul {
    border: 2px solid blue;
}

.borde-gris {
    border: 2px solid #F8F8F8;
}

.fondo-color{
    background-color: #699CC9;
}

#ad-container{
    top: 2rem;
}

#close-ad-icon{
    cursor: pointer;
}