@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Hind", sans-serif;
}

h4.card-header-category-title{
    color: green;
}

a{
    color: red;
}

a:hover{
    color: green;
}

/* Para debug */
.borde-rojo {
    border: 2px solid violet;
}
.borde-verde {
    border: 2px solid green;
}
.borde-azul {
    border: 2px solid blue;
}