<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!-- Titulo --></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <aside><!-- Barra de navegación lateral --></aside>
    <aside><!-- Anuncio, class="ad" --></aside>
    <main role="main" class="container">
        <!-- Contenido -->
         <section>
            <article></article>
            <article></article>
         </section>
         <section>
            <article></article>
            <article></article>
         </section>
         <section>
            <article></article>
            <article></article>
         </section>
    </main>
    <footer></footer>
    <script src="/js/bootstrap.min.js"></script></main>
</body>
</html>